<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<h1>Form Register</h1>

<form>
    <label for="email">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <button type="submit">Register</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
            const response = await axios.post('/api/auth/register', {
                name: name,
                email: email,
                password: password
            });
            alert(response.data);
        } catch (error) {
            console.error(error);
        }
    });
</script>
</body>
</html>