<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(title, css, content, js)">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:replace="${title}">AdminLTE 3 | Dashboard</title>

    <link rel="shortcut icon" href="/web/image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/web/image/favicon.ico" type="image/x-icon">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
    <link rel="stylesheet" href="/admin-assets/plugins/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="/admin-assets/dist/css/adminlte.min.css"/>
    <link rel="stylesheet" href="/admin-assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"/>

    <th:block th:replace="${css}"></th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Main Navigation Container -->
    <th:block th:replace="~{admin/fragments/navigation :: navigation}"></th:block>

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{admin/fragments/sidebar :: sidebar}"></th:block>

    <!--Content-->
    <th:block th:replace="${content}"></th:block>
</div>

<script src="/admin-assets/plugins/jquery/jquery.min.js"></script>
<script src="/admin-assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin-assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/admin-assets/dist/js/adminlte.js"></script>
<script src="/admin-assets/dist/js/common.js"></script>

<th:block th:replace="${js}"></th:block>
</body>

</html>